<div class="home-content">
    <div class="header pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-dark d-inline-block mb-0">Notifications</h6>
      
                        <nav aria-label="breadcrumb" class=" d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class=" breadcrumb-item">
                                    <a href="javascript:void(0)"> <i class="fas fa-bell text-dark"> </i> </a>
                                </li>
                                <li aria-current="page" class="breadcrumb-item active">
                                    Notifications
                                </li>
                            </ol>
                        </nav>
                    </div>
                    <!-- <div class="col-lg-6 col-5 text-right">                    
                        <button class="btn btn-sm btn-neutral" href="javascript:void(0)"> E-Prescription </button>
                        <button class="btn btn-sm btn-neutral" (click)="goPage1()">
                            <span> Notifications </span>
                            <span
                              class="badge badge-md badge-circle badge-floating badge-danger border-white"
                            >
                              4
                            </span>
                        </button>
                    </div> -->
                    <!-- <div class="col-12" style="align-items: right;">
                        <input
                        class=" form-control col-4"
                        id="example-search-input"
                        type="search"
                        value="Tell me your secret ..."
                        />
                    </div> -->
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--6">
        <div class="row" style="margin-left:200px; margin-right: 200px;">
            <div class="col-12">
                <div class="card bg-default">
                    <div class="card-body">
                        
                        <div class="media align-items-center mb-3">
                            <div class="col-md-5 col-6">
                              <img
                                alt="Rounded image"
                                class="img-fluid"
                                src="assets/img/product/panadol.jpg"
                              />
                            </div>
                            <div class="media-body">
                              <h2 class="text-white">PANADOL Actifast 20's</h2>
                            </div>
                            <div class="media-body text-right">
                              <h2 class="text-white"> RM 15.00 </h2>
                            </div>
                            
                        </div>
                        <div class="media align-items-center mb-3">
                            <div class="col-md-5 col-6">
                              <img
                                alt="Rounded image"
                                class="img-fluid"
                                src="assets/img/product/koolfever.jpg"
                              />
                            </div>
                            <div class="media-body">
                              <h2 class="text-white">KOOLFEVER Kool Fever Cool Child</h2>
                            </div>
                            <div class="media-body text-right">
                              <h2 class="text-white"> RM14.29 </h2>
                            </div>
                            
                        </div>
                        
                        <h2 class="text-white"><b>To Ship</b></h2>
                        <h4 class="text-white"> Waiting for the seller to ship out the product(s). The seller should ship out by 01/01/2021. Please confirm ship out date with the seller.</h4>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
