.home-content{
    background-color: #b6c8e6;
    // background-image: url('../../../assets/img/background/galaxy.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: auto;
    //overflow: hidden;
}

.tab-space {
    padding: 20px 0 50px 0px;
}

.tab-space .tab-content{
padding: 20px 0 50px 0 !important;
}

.checkout-btn-group {
padding-left: 0;
position: relative;
vertical-align: middle;
}